* {
	border: solid red 2px;
}

body {
	background-color: #e5e7eb;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
#brew{
	width: 100%;
	text-align: center;
}
#zipcode{
	text-align: center;
	width: 100%;
}