body {
	background-color: #e5e7eb;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
header{
	text-align: center;
	font-size: 45px;
}
#brew{
	width: 100%;
	text-align: center;
}

.pointer {
	cursor: pointer;
}

h5 {
	display: inline;
	padding: 5px;
	margin:auto;
  }